.imcbl-send {
	background: var(--imcbl-send-bg-color);
	color: var(--imcbl-send-text-color);

	align-self: flex-end;

&::before{
	right: -7px;
	width: 20px;
	height: 1em;

	border-bottom-left-radius: 16px 14px;
	z-index: -2;

	background-color: var(--imcbl-send-bg-color);
}

	&::after{ // Верхний слой для вырезания хвоста (цвет фона).
		right: -10px;
		width: 10px;
		height: 1.1em;
		background-color: var(--page-bg-color);
		border-bottom-left-radius: 10px 10px;
		z-index: -1;

		// border: solid .1px red;
	}
}



