.imcbl-send, .imcbl-receive {
	position: relative;
	
	max-width: var(--imcbl-bubble-max-width);
	word-wrap: break-word;

	padding: 0.4em 0.75em;
	border-radius: 1em;

	font-family: 'SFProDisplay', sans-serif;
	font-weight: normal;
	line-height: 1.1em;

	z-index: 0;

	font-size: 25px;

	&::after, &::before {
		content: "";
		position: absolute;
		bottom: 0;
	}
}

// Tail adaptive
.tail-w19 {
	&::before {
		width: 19px;
	}
}
.tail-w18 {
	&::before {
		width: 18px;
	}
}
.tail-w17 {
	&::before {
		width: 17px;
	}
}
.tail-w16 {
	&::before {
		width: 16px;
	}
}
.tail-w15 {
	&::before {
		width: 15px;
	}
}
.tail-w14 {
	&::before {
		width: 14px;
	}
}