:root{
	--imcbl-margin-bottom-massage: .75em; //margin bottom every message
	--imcbl-bubble-max-width: 75%;

	--imcbl-send-bg-color: #0B93F6;
	--imcbl-send-text-color: white;

	--imcbl-receive-bg-color: #E5E5EA;
	--imcbl-receive-text-color: #171717;

	--imcbl-page-bg-color: white;
}