@import "_reset";
@import "_fonts";

@import "_root-variables";
@import "_imcbl-send";
@import "_imcbl-receive";
@import "_imcbl-standard";

.flex {
	display: flex;
	flex-direction: column;

	max-width: 800px;
	padding: 20px 20px;

	border: solid 1px blue;
}